
$max-width:144rem;
$gutter-vertical: 6rem;
$gutter-vertical-sm: 3rem;
$gutter-vertical-xm: 2rem;

$gutter-horizontal: 3rem;
$gutter-horizontal-lg: 13rem;



 $main-page-width:85%;



$default-font-size:1.6rem;
$paragraph-font:1.5rem;


$sidebar-width:25rem;


$header-height:60px;




$grey-color-topbar:#cbcbcb;
$grey-color-dark:#878787;
$grey-color-dark-1:#737373;
$grey-color-light:#f1f1f1;


$heading-color:#474747;
$prep-blue-color:#26b3f9;
$black-color:#000;
$subheading-color:#9c9c9c;


